# Ignore everything
*

# Unignore directories
!*/

# Ignore specific folders at root
/Tzefa_Datasets/
/Tzefa_Models/
/.venv/
/.idea/
/__pycache__/
/.vs/
/.vscode/
/.pytest_cache/

# Ignore HF scripts (contain HF tokens)
/Tzefa_HF/scripts/

# Unignore files
!*.py
!*.md
!*.toml
!requirements.txt
!.gitignore

