torch
torchvision
transformers
segmentation-models-pytorch
ultralytics
timm
opencv-python-headless
pillow
numpy
gradio
huggingface_hub
fast_edit_distance
pydantic
einops
safetensors
surya-ocr
sentencepiece
protobuf
